{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">

        {% if app.user %}
            <h1>Hello {{ app.user.username }}</h1>

            {% if "ROLE_ADMIN" in app.user.roles %}
                You have access to the ADD/DELETE/EDIT pages
                <a class="navbar-brand btn btn-warning text-dark" href="{{ path('user_create') }}">Add user</a>
                {% for user in users %}
                    <div class="container-fluid purple unselectable">
                        <br>
                        <h4 class="text-light">{{ user.username }}</h4>
                        <ul>
                            <li class="nav-item text-end">
                                <a class="btn btn-warning" href="{{ path('user_edit', {'user' : user.id}) }}">Edit</a>
                            </li>
                            <li class="nav-item text-end">
                                <a class="btn btn-danger" href="{{ path('user_delete', {'user' : user.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
{#            :todo have to make a view for EMPLOYEE #}
        {% if "ROLE_EMPLOYEE" in app.user.roles %}
            <h2 class="text-warning">You are able to view games with player in them</h2>
        {% endif %}
            {% else %}
            <h1>Hello Guest</h1>
        {% endif %}

    </div>
{% endblock %}
{#        {% include '/home/carousel.html.twig' %}#}