{% extends 'base.html.twig' %}



{% block body %}
    <div class="d-flex align-items-stretch d-grid gap-5">
    {% for game in game %}


        <div class="card" style="width: 18rem;">
        <img src="{{ game.image }}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="{{ path('app_game_info', {'game' : game.id}) }}" class="btn btn-primary">Go to game</a>
        {% if app.user %}
            {% if "ROLE_ADMIN" in app.user.roles %}
                <a class="btn btn-warning" href="{{ path('game_edit', {'game' : game.id}) }}">Edit</a>
                <a class="btn btn-danger" href="{{ path('game_delete', {'game' : game.id}) }}">Delete</a>
            {% endif %}
            </div>
            </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
